<h1>STUPID COACHING</h1>

<h2 class="text-center my-10">Ask your coach anything</h2>
<form class="question-form" action="/answer" method="get">
  <input type="text" name="user_question">
  <input class="btn btn-primary " type="submit" value="Ask!">
</form>
